# Python
__pycache__/
*.py[cod]
*.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Environnements virtuels
venv/
ENV/
env/
f1tenth_env/
.env
.venv
env.bak/
venv.bak/

# F1TENTH Git repo
f1tenth_gym/

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs et données
*.log
*.csv
*.dat
*.out
*.pid
*.seed
*.pid.lock
